# DIR
build/
bin/

# Executables
*.desktop
*.exe
*.out
*.app

#clice
.clice/

# Xmake
.xmake/

# Clangd
.cache/
compile_commands.json

# Vscode
.VSCodeCounter/

#glsld
.glsld/

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a
*.lib

# MacOS cache
.DS_Store
